.mode_container {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.nightbody{
    background-image: none;
}

.mode_button {
    width: 170px;
    border-radius: 32px;
    border: 2px solid rgb(5, 30, 53);
    background-color: rgb(235, 232, 232);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 8px;
    gap: 15px;
    padding-right: 30px;
    transition: 0.3s ease-out;
}

.nightbody h3{
    margin-top: 0px;
}

.mode_button_night {
    background-color: black;
    border: 2px solid white;
    color: white;
    box-shadow: 0 0 5px silver, 0 0 7px silver;
}

.mode_button img {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
}


.nightbody {
    background-color: #111111;
    color: white;
}


.nightbody .sidebar {
    background: #181818;
    color: white;
    box-shadow: 5px 2px 5px white;

}

.nightbody .sidebar a {
    color: white;
}



.nightbody hr {
    display: none;
}

.nightbody header{
    background-color: #1E1E1E;
    border-bottom: 3px solid rgb(38, 180, 216);
}

.nightbody header .sidetoggle.active{
    background-color: rgb(95, 95, 95);
}

.nightbody header .sidetoggle:hover{
    background-color: rgb(95, 95, 95);
}
